<h1>Predicting Road Accident Risk Playground Series - Season 5, Episode 10

<h2>Imports

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


print('Imports done')

Imports done

In [9]:
train = pd.read_csv('data/train.csv')
X_test = pd.read_csv('data/test.csv')
sample = pd.read_csv('data/sample_submission.csv')

In [10]:
y_train = train.accident_risk

X_train = train.drop(columns=['accident_risk'])

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517754 entries, 0 to 517753
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      517754 non-null  int64
 1   road_type               517754 non-null  object
 2   num_lanes               517754 non-null  int64
 3   curvature               517754 non-null  float64
 4   speed_limit             517754 non-null  int64
 5   lighting                517754 non-null  object
 6   weather                 517754 non-null  object
 7   road_signs_present      517754 non-null  bool
 8   public_road             517754 non-null  bool
 9   time_of_day             517754 non-null  object
 10  holiday                 517754 non-null  bool
 11  school_season           517754 non-null  bool
 12  num_reported_accidents  517754 non-null  int64
 13  accident_risk           517754 non-null  float64
dtypes: bool(4), float64(2), int64(4), object(4)
memory usage: 41.5+ MB

In [12]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172585 entries, 0 to 172584
Data columns (total 13 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      172585 non-null  int64
 1   road_type               172585 non-null  object
 2   num_lanes               172585 non-null  int64
 3   curvature               172585 non-null  float64
 4   speed_limit             172585 non-null  int64
 5   lighting                172585 non-null  object
 6   weather                 172585 non-null  object
 7   road_signs_present      172585 non-null  bool
 8   public_road             172585 non-null  bool
 9   time_of_day             172585 non-null  object
 10  holiday                 172585 non-null  bool
 11  school_season           172585 non-null  bool
 12  num_reported_accidents  172585 non-null  int64
dtypes: bool(4), float64(1), int64(4), object(4)
memory usage: 12.5+ MB

In [14]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
id,517754.0,258876.500000,149462.849975,0.0,129438.25,258876.50,388314.75,517753.0
num_lanes,517754.0,2.491511,1.120434,1.0,1.00,2.00,3.00,4.0
curvature,517754.0,0.488719,0.272563,0.0,0.26,0.51,0.71,1.0
speed_limit,517754.0,46.112575,15.788521,25.0,35.00,45.00,60.00,70.0
num_reported_accidents,517754.0,1.187970,0.895961,0.0,1.00,1.00,2.00,7.0
accident_risk,517754.0,0.352377,0.166417,0.0,0.23,0.34,0.46,1.0

In [15]:
X_test.describe().T

,count,mean,std,min,25%,50%,75%,max
id,172585.0,604046.000000,49821.142441,517754.0,560900.00,604046.00,647192.00,690338.0
num_lanes,172585.0,2.494046,1.119148,1.0,1.00,2.00,3.00,4.0
curvature,172585.0,0.487263,0.272343,0.0,0.26,0.51,0.71,1.0
speed_limit,172585.0,46.102761,15.787077,25.0,35.00,45.00,60.00,70.0
num_reported_accidents,172585.0,1.186059,0.897161,0.0,1.00,1.00,2.00,7.0